<template name="opgaverTemplate">

    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h3 class="text-center">{{title}}</h3>
            </div>
        </div>
   
       
        <code class="right">
            Database server (SQLSERVER 2008) som REST API //rest.supermobile.dk/opgaver.json
        </code>


        <p>
            <br>
            <img src="/images/ServerSideDB.png" alt="">    
       </p>

         
    </div>
 

    

    <div class="container">
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-striped">

                <tbody>
                    {{#each opgave}}
                    <tr>
                        <td class="blue">
                            {{todo}}
                        </td>
                    </tr>
                     {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    </div>


</template>
